<section class="principal" role="region" data-ng-init="init()">
    <header>
        <menu type="toolbar">
            <a ng-click="speakFrontCardText()" class="btn btn-default"><span class="icon colorWhite" data-icon="sound-max" aria-label="speak card text">speak card text</span></a>
        </menu>

        <a ng-href="#/collections/{{collectionId}}"><span class="icon icon-back">Back</span></a>
        <h1>Study</h1>
    </header>

    <section class="pagebody">
        <div style="margin-left: 1%; margin-top:2px; margin-bottom: -0.5%;">
            <span style="margin-right:5px;" class="colorBlue">{{getNewCards(cards).length}}</span>
            <span style="margin-right:5px;" class="colorRed">{{getRepeatedCards(cards).length}}</span>
            <span style="margin-right:5px;">{{cards.length}}</span>
        </div>
        <div class="card-block">
            <span>{{card.front}}</span>
            <hr ng-show="displayAnswer">
            <span ng-show="displayAnswer">{{card.back}}</span>
            <!--{{cards}}-->
        </div>
    </section>
    <footer role="toolbar" style="position:fixed; width:100%; bottom:0px; min-height:50px;">
        <div class="row" style="
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;">
            <button ng-click="showAnswer()" class="col-xs-12" ng-show="!displayAnswer">Show answer</button>
            <div ng-show="displayAnswer">
                <button ng-click="evaluateCard(0)" ng-if="card.interval < 6" class="col-xs-6">{{CARD_GRADE.AGAIN}} (<5min)</button>
                <button ng-click="evaluateCard(3)" ng-if="card.interval < 6" class="col-xs-6">{{CARD_GRADE.GOOD}} (1 day)</button>

                <button ng-click="evaluateCard(0)" ng-if="card.interval >= 6" class="col-xs-3">{{CARD_GRADE.AGAIN}} (<5min)</button>
                <button ng-click="evaluateCard(1)" ng-if="card.interval >= 6" class="col-xs-3">{{CARD_GRADE.HARD}} ({{card.interval*(1/3) | number:0}} days)</button>
                <button ng-click="evaluateCard(3)" ng-if="card.interval >= 6" class="col-xs-3">{{CARD_GRADE.GOOD}} ({{card.interval*(2/3) | number:0}} days)</button>
                <button ng-click="evaluateCard(5)" ng-if="card.interval >= 6" class="col-xs-3">{{CARD_GRADE.EASY}} ({{card.interval}} days)</button>
            </div>
        </div>
    </footer>
</section>
