<section class="principal" role="region" data-ng-init="init()">
    <header>
        <menu type="toolbar">
            <a ng-click="speakFrontCardText()" class="btn btn-default"><span class="icon colorWhite" data-icon="sound-max" aria-label="speak card text">speak card text</span></a>
        </menu>

        <a ng-click="goBack()"><span class="icon icon-back">Back</span></a>
        <h1>Repeat cards</h1>
    </header>

    <section class="pagebody">
        <div style="margin-left: 1%;" class="pull-left">
            <span>{{cards.length}}</span>
        </div>
        <div ng-show="timer !== null && collectionSettings.limitTAnswerByRepeating == 'true' && collectionSettings.showAnswerTimeByRepeating == 'true'" style="margin-right: 1%;" class="pull-right">
            {{timer}} s
        </div>
        <div class="card-block">
            <span>{{cards[0].front}}<br />
                <!--<img ng-if="cards[0].urlOfFrontImg.length > 0" style="max-width: 80px;max-height: 80px;" src="{{cards[0].urlOfFrontImg}}" alt="Image not available">-->
                <!--<img ng-if="cards[0].urlOfFrontImg.length == 0" style="max-width: 80px;max-height: 80px;" src="{{cards[0].urlOfFrontImg}}" alt="">-->
            </span>
            <hr ng-show="(collectionSettings.displayAnswerByRepeating == 'true') || displayAnswer || onlyAnswer">
            <span ng-show="(collectionSettings.displayAnswerByRepeating == 'true') || displayAnswer || onlyAnswer">{{cards[0].back}}<br />
                <!--<img ng-if="cards[0].urlOfBackImg.length > 0" style="max-width: 80px;max-height: 80px;" src="{{cards[0].urlOfBackImg}}" alt="Image not available">-->
                <!--<img ng-if="cards[0].urlOfBackImg.length == 0" style="max-width: 80px;max-height: 80px;" src="{{cards[0].urlOfBackImg}}" alt="">-->
            </span>
        </div>
    </section>
    <footer role="toolbar" style="position:fixed; width:100%; bottom:0px; min-height:50px;">
        <div class="row" style="position: absolute; bottom: 0; left: 0;  right: 0;">
            <div ng-show="!displayAnswer" style="padding:0 15px;">
                <button ng-click="showAnswer()" class="col-xs-12">Show answer</button>
            </div>
            <div ng-show="displayAnswer" style="padding:0 15px;">
                <button ng-click="evaluateCard(0)" class="col-xs-6">{{CARD_GRADE[0]}}</button>
                <button ng-click="evaluateCard(3)" class="col-xs-6">{{CARD_GRADE[3]}}</button>
            </div>
        </div>
    </footer>
</section>
