<section class="principal" role="region" data-ng-init="init()">
    <header>
        <menu type="toolbar">
            <a ng-click="showAddCardModal()" class="btn btn-default"><span class="icon icon-add">add</span></a>
            <button class="sidebar_trigger"><span class="icon icon-menu">show sidebar</span></button>
        </menu>
        <a ng-href="#/collections/"><span class="icon icon-back">Back</span></a>
        <h1>{{cd.collectionDetail.name}}</h1>
    </header>

    <section class="pagebodyList">
        <div class="collectionDetailInfo">
            <table>
                <tbody >
                    <tr class="bigger">
                        <td>New cards: </td>
                        <td style="padding-left: 30px;" class="colorBlue">{{cd.newCards.length}}</td>
                    </tr>
                    <tr class="bigger">
                        <td>Repeated cards: </td>
                        <td style="padding-left: 30px;" class="colorRed">{{cd.repeatedCards.length}}</td>
                    </tr>
                    <tr class="bigger">
                        <td>Cards for study: </td>
                        <td style="padding-left: 30px;">{{cd.cardsToStudy.length}}</td>
                    </tr>
                    <tr class="bigger">
                        <td>Total cards: </td>
                        <td style="padding-left: 30px;">{{cd.cards.length}}</td>
                    </tr>
                </tbody>
            </table>
            <p>{{cd.collectionDetail.description}}</p>
            <a ng-href="#/collections/{{cd.collectionDetail.id}}/study" ng-if="cd.cardsToStudy.length > 0" class="btnStartStudy">Start Study</a>
            <a ng-href="#/collections/{{cd.collectionDetail.id}}/repeatCards" ng-if="cd.cards.length > 0" class="btnRepeatCards">Repeat cards</a>
        </div>
        <div class="row cardItem" ng-show="collectionSettings.filteringCards == 'true'">
            <input type="text" class="pull-left" id="search" ng-model="searchText" placeholder="Search card"/>
        </div>


        <div class="row cardItem" ng-repeat="card in cd.cards | filter:searchText">
           <div class="pull-left">
               <span class="cardItemFrontBack" style="border-bottom:1px solid #aaa;">{{card.front}}</span>
               <span class="cardItemFrontBack">{{card.back}}</span>
           </div>
            <div class="btn-group pull-right btn-group-xs" role="group">
                <i data-icon="compose" class="btn btn-default btn-xs pointer" aria-label="Edit" ng-click="showUpdateCardModal(card.id)"><span class="iconText">Edit</span></i>
                <i data-icon="effects" class="btn btn-default btn-xs pointer" aria-label="Hide" ng-click="hide(card)"><span class="iconText">Hide</span></i>
                <i data-icon="delete" class="btn btn-default btn-xs pointer" aria-label="Delete" ng-click="callRemove(card.id)"><span class="iconText">Delete</span></i>
            </div>

        </div>
    </section>
</section>

<section class="sidebar" role="region">
    <header>
        <button class="sidebar_trigger"><span class="icon icon-back">Back</span></button>
        <h1>Menu</h1>
    </header>
    <menu class="menulist">
        <a ng-href="#/collections/{{cd.collectionDetail.id}}/hidden/" class="item">Display hidden cards</a>
        <a href="" ng-click="showFilteredNewCollModal()" class="item">Create filtered collection</a>
        <a ng-href="#/collectionSettings/{{cd.collectionDetail.id}}/" class="item">Collection settings</a>
        <a ng-href="#/collectionStatistics/{{cd.collectionDetail.id}}/" class="item">Collection statistics</a>
    </menu>
</section>

<filtered-new-coll-modal coll-id="filteredBaseCollId" show-filtered-new-coll-modal="showFilteredNewColl"></filtered-new-coll-modal>
<add-edit-card-modal add-edit-card-modal-mode="addEditCardModalMode" update-id="updateId" add-fce="add(newCard)" update-fce="update(newCard)" show-modal="showModal"></add-edit-card-modal>
<confirm-dialog title="Delete card" body="Do you realy want to delete the card?" btn-cancel="Cancel" btn-confirm="Delete" show-confirm="showConfirmRemove" confirm-fce="remove(removeCardId)" ></confirm-dialog>
