<section class="principal" role="region" data-ng-init="init()">
    <header>
        <menu type="toolbar">
            <a ng-click="showAddCardModal()" class="btn btn-default"><span class="icon icon-add">add</span></a>
            <button ui-turn-on='menuOpt'><span class="icon icon-menu">show sidebar</span></button>
        </menu>
        <ul
                ui-state="menuOpt"

                class="dropdown-menu"
                ui-outer-click="Ui.turnOff('menuOpt' + collection.id)"
                ui-outer-click-if="Ui.active('menuOpt')"
                role="menu"
                ui-show="menuOpt"
                ui-turn-off="menuOpt">

            <li><a ng-href="#/collections/{{cd.collectionDetail.id}}/hidden/" class="item">Display hidden cards</a></li>
            <li><a ng-href="#/collectionSettings/{{cd.collectionDetail.id}}/" class="item">Collection settings</a></li>
            <li><a ng-click="showFilteredNewCollModal()" class="item">Create filtered collection</a></li>
            <li><a ng-href="#/collectionStatistics/{{cd.collectionDetail.id}}/" class="item">Statistics</a></li>
        </ul>
        <a ng-href="#/collections/"><span class="icon icon-back">Back</span></a>
        <h1>{{cd.collectionDetail.name}}</h1>
    </header>
    <div class="container">
        <div class="row">
            <div class="coll-md-12">
                <center>{{cd.collectionDetail.name}}</center>
                {{cd.collectionDetail.description}}<br />
                Nových karet: {{cd.newCards.length}}<br />
                Na učení karet: {{cd.cardsToStudy.length}}<br />
                Celkem karet: {{cd.cards.length}}<br />
                <a ng-href="#/collections/{{cd.collectionDetail.id}}/study" class="btn btn-info col-md-12" ng-click="">Start Study</a>
            </div>
        </div>
    </div>
    <br />

    <section class="gaia-list fit scroll sticky">
            <div class="row" style="border-bottom:1px solid orange; margin:2px;">
                <label>Search: <input ng-model="searchText"></label>
            </div>
            <div class="row" style="border-bottom:1px solid orange; margin:2px;" ng-repeat="card in cd.cards | filter:searchText">

               <div class="col-md-11">{{card.front}} | {{card.back}}</div>
                <div class="col-md-1">
                    <div ui-turn-on='cardOpt{{card.id}}' class='btn'>
                        <i class="fa fa-ellipsis-v"></i>
                    </div>
                    <ul
                            ui-state="cardOpt{{card.id}}"

                            class="dropdown-menu"
                            ui-outer-click="Ui.turnOff('cardOpt' + card.id)"
                            ui-outer-click-if="Ui.active('cardOpt' + card.id)"
                            role="menu"
                            ui-show="cardOpt{{card.id}}"
                            ui-turn-off="cardOpt{{card.id}}">

                        <li><a ng-click="showUpdateCardModal(card.id)">Update</a></li>
                        <li><a ng-click="hide(card)">Hide</a></li>
                        <li><a ng-click="callRemove(card.id)">Delete</a></li>
                    </ul>
                </div>

            </div>
      </section>
</section>
<filtered-new-coll-modal coll-id="filteredBaseCollId" show-filtered-new-coll-modal="showFilteredNewColl"></filtered-new-coll-modal>
<add-edit-card-modal add-edit-card-modal-mode="addEditCardModalMode" update-id="updateId" add-fce="add(newCard)" update-fce="update(newCard)" show-modal="showModal"></add-edit-card-modal>
<confirm-dialog title="Delete card" body="Do you realy want to delete the card?" btn-cancel="Cancel" btn-confirm="Delete" show-confirm="showConfirmRemove" confirm-fce="remove(removeCardId)" ></confirm-dialog>

