html, body {
	margin: 0px;
	padding: 0px;
}

.modal .close {
	width: auto;
}

.modal .btn {
	width: auto;
}

section > div.scrollable {
	position: relative;
}
form.addEditModal > section, form.confirm > section {
	position:absolute;
}

form.addEditModal > section li {
	color: #fff !important;
}

form.addEditModal > section > p > input[type="text"] {
	color: #000;
}
.pointer { cursor: pointer; cursor: hand; }

.addEditModal input.ng-invalid.ng-touched {
	border: 2px solid #FA787E;
}

.addEditModal input.ng-valid.ng-touched {
	border: 2px solid #78FA89;
}


ul.dropdown-menu li a.item {
	display: block !important;
	width: 100% !important;
	text-align: left !important;
}

.hidden-background {
	background: #999;
	text-decoration: line-through;
}

.bb-tablist .bb-tabpanel {
	position: absolute !important;
	top: 100px !important;
	right: 0 !important;
	bottom: 4.5rem !important;
	left: 0 !important;
	 visibility: visible !important;
	 overflow: visible !important;
}

.yellow {
	background-color: #FFFF00;
}
.orange {
	background-color: #FF9C08;
}
.red {
	background-color: #FF0000;
}
