<form role="dialog" data-type="confirm" name="addEditModal" class="addEditModal" ng-show='showModal' novalidate="">
    <section>
        <header class="dialogHeader">
            <h1 ng-if="addEditCardModalMode == 'add'">Add card</h1>
            <h1 ng-if="addEditCardModalMode == 'update'">Edit card</h1>
        </header>
        <p>
            <input type="text" placeholder="Front side" data-ng-model="card.front" name="front" ng-required="!card.urlOfFrontImg" ng-maxlength="50"/>
            <span ng-show="addEditModal.$submitted || addEditModal.front.$dirty" style="margin: 0 0 1rem 1rem">
                <span ng-show="addEditModal.front.$error.required" class="colorRed" style="margin-top:-1rem;display: block;">Fill front of card</span>
                <span ng-show="addEditModal.front.$error.maxlength" class="colorRed" style="margin-top:-1rem;display: block;">Maximal length is 50 character</span>
            </span>

            <input type="text" placeholder="Back side" data-ng-model="card.back" name="back" ng-required="!card.urlOfBackImg" ng-maxlength="50"/>
            <span ng-show="addEditModal.$submitted || addEditModal.back.$dirty" style="margin: 0 0 1rem 1rem">
                <span ng-show="addEditModal.back.$error.required" class="colorRed" style="margin-top:-1rem;display: block;">Fill back of card</span>
                <span ng-show="addEditModal.back.$error.maxlength" class="colorRed" style="margin-top:-1rem;display: block;">Maximal length is 50 character</span>
            </span>
        </p>
    </section>
    <menu>
        <button ng-click="cancel()">Cancel</button>
        <button class="recommend" ng-click="add(card)" ng-disabled="addEditModal.$invalid" ng-if="addEditCardModalMode == 'add'">Add</button>
        <button class="recommend" ng-click="update(card)" ng-disabled="addEditModal.$invalid" ng-if="addEditCardModalMode == 'update'">Save</button>
    </menu>
</form>
