<form role="dialog" data-type="confirm" name="filteredNewCollModal" class="addEditModal" ng-show='showFilteredNewCollModal' novalidate="">
    <section>
        <header class="dialogHeader">
            <h1 data-ng-if="collId == null">Create new collection from cards</h1>
            <h1 data-ng-if="collId != null">Create new collection from collection</h1>
        </header>
        <p>
            <input type="text" placeholder="Name" data-ng-model="filteredColl.name" name="name" required="" ng-maxlength="50"/>
            <span ng-show="filteredNewCollModal.$submitted || filteredNewCollModal.name.$dirty" style="margin: 0 0 1rem 1rem">
                <span ng-show="filteredNewCollModal.name.$error.required" class="colorRed" style="margin-top:-1rem;display: block;">Fill name of collection</span>
                <span ng-show="filteredNewCollModal.name.$error.maxlength" class="colorRed" style="margin-top:-1rem;display: block;">Maximal length is 50 character</span>
            </span>
            <input type="text" placeholder="Description" data-ng-model="filteredColl.description" name="description" ng-maxlength="250"/>
            <span ng-show="filteredNewCollModal.$submitted || filteredNewCollModal.description.$dirty" style="margin: 0 0 1rem 1rem">
                <span ng-show="filteredNewCollModal.description.$error.maxlength" class="colorRed" style="margin-top:-1rem;display: block;">Maximal length is 250 character</span>
            </span>

            <div class="switch" style="width:100%; margin-top:0px;">
                <input type="radio" class="switch-input" data-ng-model="filteredColl.reverseSide" name="reverseSide" value="false" id="reverseSideFalse">
                <label for="reverseSideFalse" style="width:50%;" class="switch-label switch-label-off">Original side</label>
                <input type="radio" class="switch-input" data-ng-model="filteredColl.reverseSide" name="reverseSide" value="true" id="reverseSideTrue">
                <label for="reverseSideTrue" style="width:50%;" class="switch-label switch-label-on">Reverse side</label>
                <span class="switch-selection" style="width:50%;"></span>
            </div>
            <div class="pagebodyListDialog">
                <div class="row filterCollectionItem">
                    <div class="pull-left" style="font-size: 2rem; margin-top: 10px;">Select all:</div>
                    <label class="pack-checkbox pull-right" style="margin-top: -5px;">
                        <input type="checkbox" name="checkAll" data-ng-model="checkAll" data-ng-change="selectDeselectAll(checkAll);" />
                        <span></span>
                    </label>
                </div>
                <div class="row filterCollectionItem" ng-repeat="card in cards | limitTo:totalDisplayed" data-id="{{card.id}}">
                    <div class="pull-left">{{card.front}} | {{card.back}}<br>({{card.collectionName}})</div>
                    <label class="pack-checkbox pull-right" style="margin-top: -5px;">
                        <input type="checkbox" name="filteredCards"  />
                        <span></span>
                    </label>
                </div>
                <button class="btn btn-default btn-xs" ng-click="loadMore()" ng-if="cards.length>totalDisplayed"><b style="font-size:1.8rem;">Load more</b></button>
            </div>
        </p>
    </section>
    <menu>
        <button ng-click="cancel()">Cancel</button>
        <button class="recommend" ng-click="create(filteredColl)" ng-disabled="filteredNewCollModal.$invalid">Create</button>
    </menu>
</form>
