<section class="principal" role="region" data-ng-init="init()">
    <header>
        <a ng-href="#/collections/{{collectionId}}"><span class="icon icon-back">Back</span></a>
        <h1>Collection settings</h1>
    </header>

    <section class="pagebody">
        <div class="row settingsItem">
            <div class="pull-left">Play text of card:</div>
            <div class="pull-right" style="margin-right: 2%; margin-top: -3px;">
                <label class="pack-switch">
                    <input type="checkbox" data-ng-model="collectionSettings.playVoiceText" data-ng-true-value="'true'" data-ng-false-value="'false'">
                    <span></span>
                </label>
            </div>
            <br />
            <div data-ng-show="collectionSettings.playVoiceText.toLowerCase() === 'true'" style="margin-left: 10px;">
                <label for="languageOfVoice" style="margin-bottom: -10px;">Language of voice:</label>
                <select data-ng-model="collectionSettings.languageOfVoice" id="languageOfVoice">
                    <option value="ca">ca - Catalan</option>
                    <option value="cs">cs - Czech</option>
                    <option value="de">de - German</option>
                    <option value="el">el - Greek</option>
                    <option value="en/en" selected="selected">en - English</option>
                    <option value="en/en-n">en-n - English, regional</option>
                    <option value="en/en-rp">en-rp - English, regional</option>
                    <option value="en/en-sc">en-sc - English, Scottish</option>
                    <option value="en/en-us">en-us - English, US</option>
                    <option value="en/en-wm">en-wm - English, regional</option>
                    <option value="eo">eo - Esperanto</option>
                    <option value="es">es - Spanish</option>
                    <option value="es-la">es-la - Spanish, Latin America</option>
                    <option value="fi">fi - Finnish</option>
                    <option value="fr">fr - French</option>
                    <option value="hu">hu - Hungarian</option>
                    <option value="it">it - Italian</option>
                    <option value="kn">kn - Kannada</option>
                    <option value="la">la - Latin</option>
                    <option value="lv">lv - Latvian</option>
                    <option value="nl">nl - Dutch</option>
                    <option value="pl">pl - Polish</option>
                    <option value="pt">pt - Portuguese, Brazil</option>
                    <option value="pt-pt">pt-pt - Portuguese, European</option>
                    <option value="ro">ro - Romanian</option>
                    <option value="sk">sk - Slovak</option>
                    <option value="sv">sv - Swedish</option>
                    <option value="tr">tr - Turkish</option>
                    <option value="zh">zh - Mandarin Chinese (Pinyin)</option>
                    <option value="zh-yue">zh-yue - Cantonese Chinese</option>
                </select>

                <label class="pack-radio" style="margin-top: 10px;">Type of voice:</label>
                <div class="switch pull-right">
                    <input type="radio" class="switch-input" data-ng-model="collectionSettings.typeOfVoice" name=typeOfVoice" value="m2" id="m2">
                    <label for="m2" class="switch-label switch-label-off">Male</label>
                    <input type="radio" class="switch-input" data-ng-model="collectionSettings.typeOfVoice" name=typeOfVoice" value="f2" id="f2">
                    <label for="f2" class="switch-label switch-label-on">Female</label>
                    <span class="switch-selection"></span>
                </div>

                <br/>
                <label for="range">Volume: <span style="margin-left:20px;">{{collectionSettings.volumeOfVoice}} %</span></label>
                <section role="slider">
                    <label>0 %</label>
                    <label>100 %</label>
                    <div>
                        <input type="range" id="range" data-ng-model="collectionSettings.volumeOfVoice">
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
